@import 'tailwindcss';

:root {
	font-family: 'Nunito', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--new-brand-color: #5014be;
}

.vds-audio-layout,
.vds-video-layout {
	--media-brand: var(--new-brand-color);
	--media-buffering-track-fill-color: var(--new-brand-color);
	--media-slider-track-fill-bg: var(--new-brand-color);
	--media-menu-checkbox-bg-active: var(--new-brand-color);
	--media-menu-slider-track-fill-bg: var(--new-brand-color);
	--media-chapters-progress-bg: var(--new-brand-color);
}

@theme {
	--color-dark-purple: #060919;
	--color-most-dark-purple: #040612;
	--color-blue: #001c52;
	--color-text-default: #a0a1a5;
	--color-paging: #5f6061;
	--color-text-default-active: #f7f9ff;
	--color-text-info: #9aafcb;
	--color-text-pink: #e47fbc;
	--color-light-pink: #b986a5;
	--color-light-purple: #8b51a7;
	--color-transparent-black: rgba(6, 9, 26, 0.4);

	--shadow-cards-slider-left: inset 80px 0 50px -3px rgba(6, 9, 25, 0.85);
	--shadow-cards-slider-right: inset -80px 0 50px -3px rgba(6, 9, 25, 0.85);

	--spacing-px-default: 68px;
	--spacing-px-xl: 45px;
	--spacing-px-lg: 40px;

	--animate-fill-out-the-slide: fill-out-the-slide 5s linear forwards;
	--animate-card-transform: card-transform 0.2s linear;
	--animate-fill-icon: fill-icon 0.5s forwards;

	@keyframes fill-out-the-slide {
		from {
			width: 20px;
		}
		to {
			width: 81px;
		}
	}

	@keyframes card-transform {
		20% {
			opacity: 0.2;
		}
		30% {
			opacity: 1;
		}
		100% {
			transform: scale(1.1);
		}
	}

	@keyframes fill-icon {
		from {
			fill: none;
		}
		to {
			fill: white;
		}
	}
}

@layer base {
	body {
		@apply text-text-default bg-dark-purple;
	}
}

@layer components {
	.primary-gradient {
		@apply from-light-pink to-light-purple bg-gradient-to-r;
	}

	.blue-gradient-radial {
		background: radial-gradient(#004cba 0%, #0d143b 75%);
		box-shadow: 0 0px 60px 60px #060919 inset;
	}

	.blue-gradient-linear-top {
		background: linear-gradient(to top, #0d143b, #060919);
	}

	.blue-gradient-linear-bottom {
		background: linear-gradient(to bottom, #0d143b, #060919);
	}

	.hero-effects {
		@apply bg-[radial-gradient(ellipse,rgba(6,9,25,0.45)_20%,rgba(6,9,25,1)_80%),var(--bg-img)] shadow-[inset_0_0_30px_30px_rgba(6,9,25,1)];
	}

	.hover-text {
		@apply hover:text-text-default-active duration-200 ease-linear;
	}

	.gradient-button {
		@apply text-text-default-active cursor-pointer rounded-4xl px-4 py-[6px] text-lg max-xl:px-3 max-xl:py-1 max-xl:text-sm;
	}

	.additional-text {
		@apply text-text-info text-lg max-lg:text-[16px];
	}

	.movie-card {
		@apply h-[339px] w-[237px] max-xl:h-[286px] max-xl:w-[200px] max-lg:h-[243px] max-lg:w-[170px];
	}

	.actor-card {
		@apply h-[240px] w-[160px] max-xl:h-[210px] max-xl:w-[140px] max-lg:h-[187px] max-lg:w-[125px];
	}
}
